.login {
    display: flex;
    background-color: #feff00;
    place-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container>img {
    height: 50vh;
    width: 50vw;
    object-fit: contain;
}

button.MuiButtonBase-root {
    margin-top: 20px;
    width: 200px;
    color: white;
    text-transform: capitalize;
    border: none;
}

button.MuiButtonBase-root.login-github {
    background-color: rgb(214, 73, 55);
}

button.MuiButtonBase-root.login-google {
    background-color: rgb(29, 108, 255);
}